<div class="content-wrapper">
  <div class="container-fluid" style="width: 88%;">
    <div class="container">
      <div class="col col-md-12">
        <h1>New Invoice</h1>
      </div>
      <!-- header section -->

      <!-- header section end -->
      <hr style="border-top: 2px solid #ff5252;">

      <!-- form content -->
      <div class="row">
        <!-- customer details content -->
        <div class="row col col-md-12">

          <div>
            <input id="invid" type="hidden" class="form-control" name="invid" [(ngModel)]="invoice.invid">
          </div>


          <div class="col col-md-3 form-group">
            <label class="font-weight-bold" for="cname">Customer Name :</label>
            <input type="search" class="form-control ds-input" id="cname" name="cname" [(ngModel)]="invoice.cname"
              placeholder="Customer name" disabled>

          </div>


          <div class="col col-md-2 form-group">
            <label class="font-weight-bold" for="caddress">Address :</label>
            <input id="caddress" type="text" class="form-control" name="caddress" placeholder="Address"
              [(ngModel)]="invoice.caddress" disabled>
          </div>

          <div class="col col-md-3 form-group">
            <label class="font-weight-bold" for="cemail">Email :</label>
            <input id="cemail" type="email" class="form-control" name="cemail" placeholder="Email"
              [(ngModel)]="invoice.cemail" disabled>
          </div>

          <div class="col col-md-2 form-group">
            <label class="font-weight-bold" for="invpaytype">Payment Type :</label>
            <select id="invpaytype" name="invpaytype" class="form-control" [(ngModel)]="invoice.invpaytype">
              <option value="Cash Payment">Cash Payment</option>
              <option value="Card Payment">Card Payment</option>
              <option value="Net Banking">Net Banking</option>
            </select>
          </div>
          <div class="col col-md-2 form-group">
            <label class="font-weight-bold" for="invdate">Date :</label>
            <input type="date" class="datepicker form-control hasDatepicker" id="invdate" name="invdate"
              [(ngModel)]="invoice.invdate">
            <code class="text-danger small font-weight-bold float-right" id="date_error" style="display: none;"></code>
          </div>
        </div>
        <!-- customer details content end -->

        <!-- new user button -->
        <div class="row col col-md-12">

          <div class="col col-md-2 form-group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Select Customer</button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Customer List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <div class="col-md-8 float-end">
                      <form class="d-flex mb-2">
                        <input class="form-control me-2" type="search" (input)="searchCustomer()"
                          name="searchCustomerText" placeholder="Search" aria-label="Search" [(ngModel)]="query">
                      </form>
                    </div>

                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <td> Name</td>
                          <td>Address</td>
                          <td>Contact</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let customer of customers" data-dismiss="modal" (click)="setSelected(customer)">
                          <td>{{customer.cname}}</td>
                          <td>{{customer.caddress}}</td>
                          <td>{{customer.ccontact}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- Button trigger modal -->


          <div class="col col-md-1 form-group"></div>

          <div class="col col-md-2 form-group">
            <label class="font-weight-bold" for="ccontact">Contact  :</label>
            <input id="ccontact" type="number" class="form-control" name="ccontact" placeholder="Contact Num"
              [(ngModel)]="invoice.ccontact" disabled>
          </div>

          <div class="col col-md-2 form-group">
            <label class="font-weight-bold" for="cdname">Pres Dr. Name :</label>
            <input id="cdname" type="text" class="form-control" name="cdname" placeholder="Pres Dr. Name "
              [(ngModel)]="invoice.cdname" disabled>
          </div>
        </div>
        <!-- closing new user button -->

        <div class="col col-md-12">
          <hr class="col-md-12" style="padding: 0px; border-top: 3px solid  #02b6ff;">
        </div>

        <!-- add medicines -->
        <div class="row col col-md-12">
          <div class="row col col-md-12 font-weight-bold">
            <div class="col col-md-2">Medicine Name</div>
            <div class="col col-md-2">Batch ID</div>
            <div class="col col-md-1">Ava.Qty.</div>
            <div class="col col-md-1">Expiry</div>
            <div class="col col-md-1">Quantity</div>
            <div class="col col-md-1">MRP</div>
            <div class="col col-md-1">Disct(%)</div>
            <div class="col col-md-1">Net</div>
            <div class="col col-md-2">Action</div>
          </div>
        </div>
        <div class="col col-md-12">
          <hr class="col-md-12" style="padding: 0px; border-top: 2px solid  #02b6ff;">
        </div>

        <div *ngFor="let item of allinvoices; index as i" class=" mb-3">

          <div class="row col col-md-12">
            <div class="col-md-2">
              <input id="mname" name="mname" class="form-control" placeholder="Select Medi"
                [(ngModel)]="allinvoices[i].mname">
            </div>

            <div class="col col-md-2"><input type="text" class="form-control" id="batchid" name="batchid"
                [(ngModel)]="allinvoices[i].batchid" disabled></div>

            <div class="col col-md-1"><input type="number" class="form-control" id="avalaquantity" name="avalaquantity"
                [(ngModel)]="allinvoices[i].avalaquantity" disabled></div>


            <div class="col col-md-1"><input type="text" class="form-control" id="expdate" name="expdate"
                [(ngModel)]="allinvoices[i].expdate" disabled></div>


            <div class="col col-md-1">
              <input type="number" class="form-control" id="invquantity" name="invquantity" max="{{allinvoices[i].avalaquantity}}"  (input)="calculatePrice(i)"
                [(ngModel)]="allinvoices[i].invquantity">
            </div>

            <div class="col col-md-1"><input type="number" class="form-control" id="mrp" name="mrp"
                [(ngModel)]="allinvoices[i].mrp" disabled></div>


            <div class="col col-md-1">
              <input type="number" class="form-control" id="discount" name="discount"  (input)="calculatePrice(i)"
                [(ngModel)]="allinvoices[i].discount">
            </div>

            <div class="col col-md-1"><input type="number" class="form-control" id="invtotal" name="invtotal"
                [(ngModel)]="allinvoices[i].invtotal" disabled></div>

            <div class="col col-md-2">
              <button class="btn btn-primary mr-2" data-toggle="modal" data-target="#modalSearch">
                <i class="fa fa-edit"></i>
                
            </button>
            <div class="modal fade" id="modalSearch" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Customer List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <div class="col-md-8 float-end">
                      <form class="d-flex mb-2">
                        <input class="form-control me-2" type="search" (input)="searchPurchase()"
                          name="searchCustomerText" placeholder="Search" aria-label="Search" [(ngModel)]="querypurchase">
                      </form>
                    </div>

                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <td> Name</td>
                          <td>Address</td>
                          <td>Contact</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let purchase of purchases; index as i" data-dismiss="modal" (click)="setSelectedMedechine(purchase,i)">
                          <td>{{purchase.mname}}</td>
                          <td>{{purchase.Address}}</td>
                          <td>{{purchase.Contact}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>

              <button (click)="deleterow(i)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- end medicines -->

        <div class="row col col-md-12 mt-2">

          <div class="col col-md-6 form-group">

            <div id="save_button" class="col col-md-3 form-group float-left">

              <label class="font-weight-bold" for=""></label>
              <button class="btn btn-success form-control font-weight-bold" (click)="addrow()">Add</button>
            </div>

          </div>



          <div class="col col-md-2 form-group float-right">
            <label class="font-weight-bold" for="invgtotal">Total Amount:</label>
            <input type="number" class="form-control" value="0" name="invgtotal" id="invgtotal"
              [(ngModel)]="totalAmount" disabled>
          </div>

          <div class="col col-md-2 form-group float-right">
            <label class="font-weight-bold" for="invdistotal">Total Discount :</label>
            <input type="number" class="form-control" value="0" id="invdistotal" name="invdistotal"
              [(ngModel)]="totalDiscount" disabled>
          </div>

          <div class="col col-md-2 form-group float-right">
            <label class="font-weight-bold" for="invnettotal">Net Total :</label>
            <input type="number" class="form-control" value="0" id="invnettotal" name="invnettotal"
              [(ngModel)]="netTotal" disabled>
          </div>

        </div>

        <div class="col col-md-12">
          <hr class="col-md-12" style="padding: 0px;">
        </div>

        <div class="row col col-md-12">

          <div id="save_button" class="col col-md-2 form-group float-right">

            <label class="font-weight-bold" for=""></label>
            <button class="btn btn-success form-control font-weight-bold" onclick="addInvoice();">Save</button>
          </div>

          <div id="new_invoice_button" class="col col-md-2 form-group float-right" style="display: none;">
            <label class="font-weight-bold" for=""></label>
            <button class="btn btn-primary form-control font-weight-bold" onclick="location.reload();;">New
              Invoice</button>
          </div>

          <div id="print_button" class="col col-md-2 form-group float-right" style="display: none;">
            <label class="font-weight-bold" for=""></label>
            <button class="btn btn-warning form-control font-weight-bold"
              onclick="printInvoice(document.getElementById('invoice_number').value);">Print</button>
          </div>

          <div class="col col-md-4 form-group"></div>

          <div class="col col-md-2 form-group float-right">
            <label class="font-weight-bold" for="invpaidamount">Paid Amount :</label>
            <input type="number" class="form-control" name="invpaidamount" id="invpaidamount"
              [(ngModel)]="invoice.invpaidamount">
          </div>

          <div class="col col-md-2 form-group float-right">
            <label class="font-weight-bold" for="invchangeamount">Change :</label>
            <input type="number" class="form-control" id="invchangeamount" name="invchangeamount"
              [(ngModel)]="invoice.invchangeamount" disabled>
          </div>

        </div>


      </div>
      <!-- form content end -->
      <hr style="border-top: 2px solid #ff5252;">
    </div>
  </div>
</div>