<div class="content-wrapper">

    <div class="container-fluid">
        <div class="container">
            <!-- header section -->
            <div class="container" style="display: flex;">
                <div class="" text-center style=" margin-top: 5px;">
                    <span class="h6"><i class="fa fa-home text-dark"></i></span>

                </div>
                <div style="margin-left: 20px;">

                    <h3>Dashboard</h3>
                    <h4>Home</h4>
                </div>


            </div>
            <!-- header section end -->

            <!-- form content -->
            <hr style="border-top: 2px solid #ff5252;">
            <div class="container" style="display: flex;">
                <div class="container col-md-8 col-lg-8">


                    <div class="row" style="display: flex;">

                        <div class="dashboard-msg" style="max-width: 160px;">
                            <div class="content">
                                <a class="text-dark text-decoration-none" href="">
                                    <span class="h6">8</span>
                                    <span style="font-size: 8px;"><i
                                            class="fa fa-play fa-rotate-270 text-warning"></i></span>
                                    <div class="small font-weight-bold" style="font-size: 11px;">Total: customer</div>
                                </a>
                            </div>
                        </div>

                        <div class="dashboard-msg" style="max-width: 160px;">
                            <div class="content">
                                <a class="text-dark text-decoration-none" href="">
                                    <span class="h6">6</span>
                                    <span style="font-size: 8px;"><i
                                            class="fa fa-play fa-rotate-270 text-warning"></i></span>
                                    <div class="small font-weight-bold" style="font-size: 11px;">Total: Supplier</div>
                                </a>
                            </div>
                        </div>

                        <div class="dashboard-msg" style="max-width: 160px;">
                            <div class="content">
                                <a class="text-dark text-decoration-none" href="">
                                    <span class="h6">120</span>
                                    <span style="font-size: 8px;"><i
                                            class="fa fa-play fa-rotate-270 text-warning"></i></span>
                                    <div class="small font-weight-bold" style="font-size: 11px;">Total: Medecine</div>
                                </a>
                            </div>
                        </div>

                        <div class="dashboard-msg" style="max-width: 160px;">
                            <div class="content">
                                <a class="text-dark text-decoration-none" href="">
                                    <span class="h6">2</span>
                                    <span style="font-size: 8px;"><i
                                            class="fa fa-play fa-rotate-270 text-warning"></i></span>
                                    <div class="small font-weight-bold" style="font-size: 11px;">Out of Stock</div>
                                </a>
                            </div>
                        </div>

                        <div class="dashboard-msg" style="max-width: 160px;">
                            <div class="content">
                                <a class="text-dark text-decoration-none" href="">
                                    <span class="h6">0</span>
                                    <span style="font-size: 8px;"><i
                                            class="fa fa-play fa-rotate-270 text-warning"></i></span>
                                    <div class="small font-weight-bold" style="font-size: 11px;">Expried</div>
                                </a>
                            </div>
                        </div>

                        <div class="dashboard-msg" style="max-width: 160px;">
                            <div class="content">
                                <a class="text-dark text-decoration-none" href="">
                                    <span class="h6">5</span>
                                    <span style="font-size: 8px;"><i
                                            class="fa fa-play fa-rotate-270 text-warning"></i></span>
                                    <div class="small font-weight-bold" style="font-size: 11px;">Total: Invoice</div>
                                </a>
                            </div>
                        </div>














                    </div>

                </div>

                <div class="container col-md-4 col-lg-4">
                    <div class="todays-report">
                        <div class="h5">Todays Report</div>
                        <table class="table table-bordered table-striped table-hover">
                            <tbody>

                                <tr>

                                    <th>Total Sales</th>
                                    <th class="text-success">TK.</th>
                                </tr>
                                <tr>

                                    <th>Total Purchase</th>
                                    <th class="text-danger">TK.</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <hr style="border-top: 2px solid #ff5252;">
            <div class="container">
                <div class="row" style="display: flex;">


                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="max-width: 235px; padding: 0 15px 15px;">
                        <div class="dashboard-stats" style="padding: 30px 15px;">
                            <div class="text-center">
                                <a routerLink="/invoice" class="nav-link">
                                    <i class="nav-icon fas fa-file-invoice-dollar " style="size: 50%;"></i>
                                    <p>Add Invoice</p>
                                </a>
                                <span class="h1"><i class=""></i></span>
                                <div class="h5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="max-width: 235px; padding: 0 15px 15px;">
                        <div class="dashboard-stats" style="padding: 30px 15px;">
                            <div class="text-center">
                                <a routerLink="/customer" class="nav-link">
                                    <i class="nav-icon fa fa-handshake"></i>
                                    <p>Add Customer</p>
                                </a>
                                <span class="h1"><i class=""></i></span>
                                <div class="h5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="max-width: 235px; padding: 0 15px 15px;">
                        <div class="dashboard-stats" style="padding: 30px 15px;">
                            <div class="text-center">
                                <a routerLink="/medicine" class="nav-link">
                                    <i class="nav-icon fas fa-capsules"></i>
                                    <p>Add Medecine</p>
                                </a>
                                <span class="h1"><i class=""></i></span>
                                <div class="h5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="max-width: 235px; padding: 0 15px 15px;">
                        <div class="dashboard-stats" style="padding: 30px 15px;">
                            <div class="text-center">
                                <a routerLink="/supplier" class="nav-link">
                                    <i class="nav-icon fas fa-user-circle"></i>
                                    <p>Add Supplier</p>
                                </a>
                                <span class="h1"><i class=""></i></span>
                                <div class="h5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="max-width: 235px; padding: 0 15px 15px;">
                        <div class="dashboard-stats" style="padding: 30px 15px;">
                            <div class="text-center">
                                <a routerLink="/purchase" class="nav-link">
                                    <i class="nav-icon fa fa-cart-shopping"></i>
                                    <p>Add Purchase</p>
                                </a>
                                <span class="h1"><i class=""></i></span>
                                <div class="h5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="max-width: 235px; padding: 0 15px 15px;">
                        <div class="dashboard-stats" style="padding: 30px 15px;">
                            <div class="text-center">
                                <a routerLink="/purchase" class="nav-link">
                                    <i class="nav-icon fa fa-handshake"></i>
                                    <p>Sales Report</p>
                                </a>
                                <span class="h1"><i class=""></i></span>
                                <div class="h5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="max-width: 235px; padding: 0 15px 15px;">
                        <div class="dashboard-stats" style="padding: 30px 15px;">
                            <div class="text-center">
                                <a routerLink="/customer" class="nav-link">
                                    <i class="nav-icon fa fa-handshake"></i>
                                    <p>Purchase Report</p>
                                </a>
                                <span class="h1"><i class=""></i></span>
                                <div class="h5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="max-width: 235px; padding: 0 15px 15px;">
                        <div class="dashboard-stats" style="padding: 30px 15px;">
                            <div class="text-center">
                                <a routerLink="/customer" class="nav-link">
                                    <i class="nav-icon fa fa-handshake"></i>
                                    <p>Add Customer</p>
                                </a>
                                <span class="h1"><i class=""></i></span>
                                <div class="h5"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


            <!-- form content end -->

            <hr style="border-top: 2px solid #ff5252;">

        </div>
    </div>

</div>