<div class="content-wrapper">

    <div class="container-fluid">
        <div class="container">
            <!-- header section -->
            <div class="row col col-xs-8 col-sm-8 col-md-8 col-lg-8">

            </div>
            <!-- header section end -->

            <!-- form content -->
            <hr style="border-top: 2px solid #ff5252;">
            <div class="row" style="display: flex;">
                <div class="row col-md-8 col-lg-8">


                    <div class="container" style="display: flex;">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <div class="dashboard-stats" style="width: 180px;">
                                <a class="text-dark text-decoration-none" href="">
                                    <span class="h4"></span>
                                    <span class="h6"><i class="fa fa-play fa-rotate-270 text-warning"></i></span>
                                    <div class="small font-weight-bold"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <div class="dashboard-stats" style="width: 180px;">
                                <a class="text-dark text-decoration-none" href="">
                                    <span class="h4"></span>
                                    <span class="h6"><i class="fa fa-play fa-rotate-270 text-warning"></i></span>
                                    <div class="small font-weight-bold"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <div class="dashboard-stats" style="width: 180px;">
                                <a class="text-dark text-decoration-none" href="">
                                    <span class="h4"></span>
                                    <span class="h6"><i class="fa fa-play fa-rotate-270 text-warning"></i></span>
                                    <div class="small font-weight-bold"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <div class="dashboard-stats" style="width: 180px;">
                                <a class="text-dark text-decoration-none" href="">
                                    <span class="h4"></span>
                                    <span class="h6"><i class="fa fa-play fa-rotate-270 text-warning"></i></span>
                                    <div class="small font-weight-bold"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <div class="dashboard-stats" style="width: 180px;">
                                <a class="text-dark text-decoration-none" href="">
                                    <span class="h4"></span>
                                    <span class="h6"><i class="fa fa-play fa-rotate-270 text-warning"></i></span>
                                    <div class="small font-weight-bold"></div>
                                </a>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="col-md-4 col-lg-4" style="padding: 7px 0; margin-left: 15px;">
                    <div class="todays-report">
                        <div class="h5">Todays Report</div>
                        <table class="table table-bordered table-striped table-hover">
                            <tbody>

                                <tr>

                                    <th>Total Sales</th>
                                    <th class="text-success">TK.</th>
                                </tr>
                                <tr>

                                    <th>Total Purchase</th>
                                    <th class="text-danger">TK.</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <hr style="border-top: 2px solid #ff5252;">
            <div class="container">
                <div class="row" style="display: flex; justify-content: space-around;">


                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="max-width: 235px; padding: 0 15px 15px;">
                        <div class="dashboard-stats" style="padding: 30px 15px;">
                            <div class="text-center">
                                <span class="h1"><i class="fa fa-'.$icon.' p-2"></i></span>
                                <div class="h5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="max-width: 235px; padding: 0 15px 15px;">
                        <div class="dashboard-stats" style="padding: 30px 15px;">
                            <div class="text-center">
                                <span class="h1"><i class="fa fa-'.$icon.' p-2"></i></span>
                                <div class="h5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="max-width: 235px; padding: 0 15px 15px;">
                        <div class="dashboard-stats" style="padding: 30px 15px;">
                            <div class="text-center">
                                <span class="h1"><i class="fa fa-'.$icon.' p-2"></i></span>
                                <div class="h5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="max-width: 235px; padding: 0 15px 15px;">
                        <div class="dashboard-stats" style="padding: 30px 15px;">
                            <div class="text-center">
                                <span class="h1"><i class="fa fa-'.$icon.' p-2"></i></span>
                                <div class="h5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="max-width: 235px; padding: 0 15px 15px;">
                        <div class="dashboard-stats" style="padding: 30px 15px;">
                            <div class="text-center">
                                <span class="h1"><i class="fa fa-'.$icon.' p-2"></i></span>
                                <div class="h5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="max-width: 235px; padding: 0 15px 15px;">
                        <div class="dashboard-stats" style="padding: 30px 15px;">
                            <div class="text-center">
                                <span class="h1"><i class="fa fa-'.$icon.' p-2"></i></span>
                                <div class="h5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="max-width: 235px; padding: 0 15px 15px;">
                        <div class="dashboard-stats" style="padding: 30px 15px;">
                            <div class="text-center">
                                <span class="h1"><i class="fa fa-'.$icon.' p-2"></i></span>
                                <div class="h5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="max-width: 235px; padding: 0 15px 15px;">
                        <div class="dashboard-stats" style="padding: 30px 15px;">
                            <div class="text-center">
                                <span class="h1"><i class="fa fa-'.$icon.' p-2"></i></span>
                                <div class="h5"></div>
                            </div>
                        </div>
                    </div>






                </div>

            </div>


            <!-- form content end -->

            <hr style="border-top: 2px solid #ff5252;">

        </div>
    </div>

</div>