<div class="content-wrapper">
  <div class="container-fluid" style="width: 98%;">
    <div class="container">

      <div class="col col-md-12 mt-4">
        <h1>Manage Purchese</h1>
      </div>

      <!-- header section -->

      <!-- header section end -->

      <!-- form content -->
      <div class="row">

        <div class="col-md-12 form-group form-inline">
          <label class="font-weight-bold" for="">Search :&emsp;</label>
          <input type="number" class="form-control" id="by_voucher_number" placeholder="By Voucher Number"
            onkeyup="searchPurchase(this.value, 'VOUCHER_NUMBER');">
          &emsp;<input type="text" class="form-control" id="by_suppliers_name" placeholder="By Supplier Name"
            onkeyup="searchPurchase(this.value, 'SUPPLIER_NAME');">
          &emsp;<input type="number" class="form-control" id="by_invoice_number" placeholder="By Invoice"
            onkeyup="searchPurchase(this.value, 'INVOICE_NUMBER');">
          &emsp;<label class="font-weight-bold" for="">By Purchase Date :&emsp;</label>
          <input type="date" class="form-control" id="by_purchase_date"
            onchange="searchPurchase(this.value, 'PURCHASE_DATE');">
          &emsp;
          <select class="form-control" onchange="searchPurchase(this.value, 'PAYMENT_STATUS');">
            <option value="DUE">DUE</option>
            <option value="PAID">PAID</option>
          </select>
          &emsp;<button class="btn btn-success font-weight-bold" onclick="cancel();"><i
              class="fa fa-refresh"></i></button>
        </div>



        <div class="col col-md-12">
          <hr class="col-md-12" style="padding: 0px; border-top: 2px solid  #02b6ff;">
        </div>

        <div class="col col-md-12 table-responsive">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th style="width: 1%;">SL.</th>
                  <th style="width: 12%;">Voucher Number</th>
                  <th style="width: 18%;">Supplier Name</th>
                  <th style="width: 12%;">Invoice Number</th>
                  <th style="width: 15%;">Purchase Date</th>
                  <th style="width: 10%;">Total Amount</th>
                  <th style="width: 12%;">Payment Status</th>
                  <th style="width: 12%;">Action</th>
                </tr>
              </thead>
              <tbody id="purchases_div">
                <tr *ngFor="let purch of purchases; index as i;">
                  <td>{{purch.pid}}</td>
                  <td>{{purch.pid}}</td>
                  <td>{{purch.sname}}</td>
                  <td>{{purch.pinvonum}}</td>
                  <td>{{purch.pstdate}}</td>
                  <td></td>
                  <td>{{purch.ppaytype}}</td>
                 
                  <td>
                    <button type="buuton" class="btn btn-warning">Edit</button>
                    ||
                    <button type="button" class="btn btn-danger">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <!-- form content end -->
      <hr style="border-top: 2px solid #ff5252;">
    </div>
  </div>
</div>