<div class="content-wrapper">
  <div class="container" >
    <div class="row justify-content-center">
      <div class="col-md-12 mt-5" style="background-color: white;">
  
        <div style="  text-align: center;">
          <h3><b>Supllier Information</b></h3>
          <div class="col-md-4 float-end">
            <form class="d-flex mb-2">
              <input class="form-control me-2" type="search" [(ngModel)]="searchQuery" name="searchText" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit" (click)="searchItems()">Search</button>
            </form>
          </div>
        <table class="table  table-bordered border-primary table-sm" style="background-color: white;   height:auto ;">
          <thead class="thead" >
            <tr>
              <th>Supplier ID</th>
              <th>Supplier Name</th>
              <th>Supplier Email</th>
              <th>Supplier Contact</th>
              <th>Supplier Address</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sup of Supplier; index as i;">
              <td>{{sup.sid}}</td>
                <td>{{sup.sname}}</td>
                <td>{{sup.semail}}</td>
                <td>{{sup.saddress}}</td>
                <td>{{sup.scontact}}</td>
              <td>
                <button class="btn btn-primary mr-2" (click)="editSupplier(sup)">  <i class="fa fa-fax"></i></button>
              
                <button class="btn btn-danger" (click)="deleteSupplier(sup)">  <i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
  
        </table>
  
      </div>
    </div>
  </div>
  </div>