<div class="content-wrapper">

  <div class="container-fluid" style="width: 95%;">
    <div class="container">


      <!-- header section -->
      <div class="container" style="display: flex;">
        <div class="" text-center style=" margin-top: 5px;">
          <!--<span class="h6"><i class="fa fa-home text-dark"></i></span>-->

        </div>
        <div style="margin-left: 20px;">

          <h3>Manage Medecine Stock</h3>
          <h6>Manage Existing Medecine Stock</h6>
        </div>


      </div>
      <!-- header section end -->
      <div class="col col-md-12">
        <hr style="border-top: 2px solid #ff5252;">
      </div>
      <!-- form content -->
      <div class="row">

        <div class="col-md-12 form-group form-inline">
          <label class="font-weight-bold" for="">Search :&emsp;</label>
          <input type="text" class="form-control mr-2" id="by_name" placeholder="By Medicine Name">
          &emsp;<input type="text" class="form-control mr-2" id="by_generic_name" placeholder="By Generic Name">
          &emsp;<input type="text" class="form-control mr-2" id="by_suppliers_name" placeholder="By Supplier Name">
          &emsp;<button class="btn btn-danger font-weight-bold mr-2">Out
            of Stock</button>
          &emsp;<button class="btn btn-warning font-weight-bold mr-2">Expired</button>
          &emsp;


          <div class="col col-md-12">
            <hr style="border-top: 2px solid #ff5252;">
          </div>

          <div class="col col-md-12 table-responsive">
            <div class="table-responsive">
              <table class="table table-responsive table-bordered">
                <thead>
                  <tr>
                    <th style="width: 1%;">SL.</th>
                    <th style="width: 14%;">Medicine Name</th>
                    <th style="width: 5%;">Packing</th>
                    <th style="width: 14%;">Generic Name</th>
                    <th style="width: 10%;">Batch ID</th>
                    <th style="width: 8%;">Ex. Date (mm/yy)</th>
                    <th style="width: 15%;">Supplier</th>
                    <th style="width: 7%;">Qty.</th>
                    <th style="width: 8%;">M.R.P.</th>
                    <th style="width: 8%;">Rate</th>
                    <th style="width: 10%;">Action</th>
                  </tr>
                </thead>
                <tbody id="medicines_stock_div">
                  <tr *ngFor="let purch of purchases; index as i;">
                    <td>{{purch.pid}}</td>
                    <td>{{purch.mname}}</td>
                    <td>{{purch.mpaking}}</td>
                    <td>{{purch.mgname}}</td>
                    <td>{{purch.batchid}}</td>
                    <td>{{purch.expdate}}</td>
                    <td>{{purch.sname}}</td>
                    <td>{{purch.quantity}}</td>
                    <td>{{purch.mrp}}</td>
                    <td>{{purch.rate}}</td>
                    <td>


                      <button type="buuton" class="btn btn-warning btn-sm mr-1"> <i
                        class="fa fa-fax"></i></button>


                     

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <!-- form content end -->


        <div class="col col-md-12">
          <hr style="border-top: 2px solid #ff5252;">
        </div>
      </div>
    </div>

  </div>